TMDB_API_KEY=chave_da_api_tmdb_aqui
GROQ_API_KEY=chave_da_api_groq_aqui

DB_HOST=endereco_do_servidor_db
DB_PORT=porta_aberta_db
DB_USER=nome_de_usuario_db
DB_PASSWORD=senha_de_usuario_db
DB_DATABASE=nome_db_utilizado